.filters {
  white-space: nowrap;
  color: #999;
  overflow-x: scroll;
  padding: 0.3rem 0.1rem;
  -webkit-overflow-scrolling: touch;
}
.filters::-webkit-scrollbar {
  display: none;
}
.filters>div {
  display: inline-block;
  height: 0.5rem;
  line-height: 0.5rem;
  font-size: 0.26rem;
  padding: 0 0.4rem;
  border: 0.01rem solid #e6e6e6;
  background: #fff;
  margin: 0 0.1rem;
  border-radius: 0.24rem;
  text-align: center;
  cursor: pointer;
}
.filters>div.active {
  font-weight: 800;
  color: #333;
}
